
.item {
	display: flex;
	width: 100%;
	height: 50px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.089);
	border-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: hidden;

	& .left {
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: flex-start;

		& .checkbox {
			width: 23px;
			height: 23px;
			background-color: white;
			border: 2px rgb(214, 214, 214) solid;
			border-radius: 100%;
			position: relative;

			&:hover {
				border-color: palegoldenrod;
			}

			& > label {
				border-radius: 100px;
				cursor: pointer;
				z-index: 1;
			}

			& input[type='checkbox'] {
				display: none;
				& + label {
					display: inline-block;
					position: relative;
					top: -2px;
					left: -2px;
					width: 27px;
					height: 27px;
				}
				&:checked + label {
					background-image: url(../../../images/check.png);
					border: none;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}

		& > .texts {
			background-color: rgba(0, 0, 0, 0);
			border: none;
			text-decoration: none;
			padding-left: 15px;

			& > .item_detail {
				font-size: 20px;
				overflow-x: hidden;
				cursor: pointer;
			}

			& > .item_detail_finished {
				text-decoration: line-through;
				opacity: 0.6;
			}
		}
	}

	@media screen and (min-width: 500px) {
		& .editinput {
			border-color: white;
			border-bottom: olive;
			outline: none;
			width: 100%;
			margin-left: 15px;
		}  

		& > .right {
			display: flex;
			background-color: rgba(0, 0, 0, 0);
			border: none;
			align-items: center;

			& > .item_x {
				display: none;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}

		&:hover {
			& .item_x {
				display: inline;

				&:hover {
					width: 25px;
					height: 25px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		& .editinput {
			border-color: white;
			border-bottom: olive;
			outline: none;
			width: 85%;
			margin-left: 15px;
		}  

		& > .right {
			display: flex;
			background-color: rgba(0, 0, 0, 0);
			border: none;
			align-items: center;

			& .item_x {
				display: inline;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}
	}
}
