.list{
    list-style: none;
    overflow: auto;
    margin: 0 auto;
    position: absolute;
    top: 19%;
    bottom: 0;
    left: 0%;
    right:0%;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    padding: 0;
}
